input, select {
    margin-bottom: 10px;
    padding: 7px;
    margin-top: 4px;
    width: 100%;
    border-radius: 5px;
    border: none;
}

input[type=number] {
    width: 96%;
    padding: 7px;
}

input:focus, select:focus {
    outline-color: #f1778b;
}

input[type=submit] {
    padding: 8px;
    background-color: #EB2F4E;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-weight: bolder;
    font-size: 16px;
    transition: 2s;
}
input[type=submit]:hover {
    cursor: pointer;
    background-color: #f1778b;
}

@media (max-width: 667px) {
    label {
        font-size: 14px;
    }
    input[type=submit] {
        display: block;
    }
}