input, select {
    margin-bottom: 10px;
    padding: 7px;
    margin-top: 4px;
    width: 70%;
    border-radius: 5px;
    border: none;
}

input[type=number] {
    width: 67%;
    padding: 7px;
}

input:focus, select:focus {
    outline-color: #f1778b;
}

input[type=submit] {
    padding: 8px;
    background-color: #EB2F4E;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-weight: bolder;
    font-size: 16px;
}
input[type=submit]:hover {
    cursor: pointer;
    background-color: #f1778b;
}