.container footer {
    position: absolute;
    height: 50%;
    width: 100%;
    background-color: #0EED38;
    text-align: center;
}
  
footer img {
    margin-right: 20px;
}

@media (max-width: 667px) {
    .container footer {
        position: fixed;
    }
    footer h2 {
        font-size: 20px;
    }
}