.container footer {
    position: absolute;
    height: 10rem;
    width: 100vw;
    background-color: #0EED38;
    text-align: center;
    bottom: 0;
}
  
footer img {
    margin-right: 20px;
}

@media (max-width: 667px) {
    .container footer {
        position: fixed;
        width: 100%;
    }
    footer h2 {
        font-size: 20px;
    }
}